<div id="content"></div>
<div id="image-form"></div>
<script>
  $(function(){
    InstagramClone.aviary_key = "<%= ENV['AVIARY_API_KEY'] %>";
    InstagramClone.initialize();
  });
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");

  $(function () {
    $("#sign-out").on("click", JSUtil.logout);
    $("#refresh-feed").on("click", JSUtil.refresh);
    $("#upload-image").on("click", JSUtil.upload);

    $("a.fancybox-els").fancybox({
      type: 'image',
      helpers: {
        title: { type : 'inside' }
      },
      beforeLoad: function() {
        this.title = JSUtil.fancyboxHTMLInjector($(this.element).attr('caption'));
      },
      afterShow: function() {
        var id = $(this.element).data('id');

        $('#fancybox-toggle-image-detail').on('click', function() {
          var toggleImageDetail = '#toggle-image-detail-' + id;
          $(toggleImageDetail).trigger('click');
        });
      }
    });
  });
</script>