<div id="content"></div>
<div id="image-form"></div>
<script>
  $(InstagramClone.initialize);
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
  $(function () {
    $("#sign-out").on("click", logout);
    $("#refresh-feed").on("click", refresh);
    $("#upload-image").on("click", upload);

    $("a.fancybox-els").fancybox({
      type: 'image',
      helpers: {
        title: { type : 'inside' }
      },
      beforeLoad: function() {
        this.title = $(this.element).attr('caption');
      }
    });
  });
</script>