<div id="content"></div>
<script>
  $(InstagramClone.initialize);
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
  $(function () {
    $("#sign-out").on("click", signOut);
    $("#upload-image").on("click", upload);
  });
</script>
