<div id="content"></div>
<script>
  $(InstagramCloneProj.initialize);
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
  $(function () {
    $("#sign_out").on("click", SignOut);
  });
</script>