// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#comments {
  width: 300px;
  margin-top: 0px;
  left: -38%;
}

div#comments * {
  width: 95%;
  margin-left: 7px;
  margin-right: 7px;
}

div#comments:before {
  right: 130px
}

div#comments:after {
  right: 130px
}
