// Place all the styles related to the api/follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-follow-detail * {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
}