ul.images-index-items li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 60px;
  width: 150px;
  height: 150px;
}

img#fancybox-item {
  width: 150px;
  height: 150px;
}

a.fancybox-els {
  margin-bottom: 0px;
}

div.modal-header {
  border-bottom: 0px;
}