div.images-index-items > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 60px;
  width: 150px;
  height: 150px;
}

#image-menus-btn * {
  display: inline-block;
}

ul.comments-index-items {
  padding: 0px;
}

ul.comments-index-items > li {
  list-style-type: none;
  margin-bottom: 10px;

  h5 {
    margin: 0px;
  }
}