<div class="modal fade" id="imageFormModal"
     tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <input type="text" class="form-control"
            placeholder="Write a title..." name="image[title]" />
        </form>
      </div>
    </div>
  </div>
</div>