<div class="modal fade" id="image-form-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <input type="text" class="form-control"
            placeholder="Write a caption..."
            name="image[caption]" />
        </form>
      </div>
    </div>
  </div>
</div>

<div><img id="aviary-preview" alt="Preview"></div>
