<a class="thumbnail fancybox-els" rel="lightbox"
   href="<%= image.escape('image_url') %>">
  <img class="img-responsive" alt=""
       src="<%= image.escape('image_url') %>" />
  <div class='text-right'>
    <small class='text-muted'><%= image.escape('caption') %></small>
  </div>
</a>
