<a class="thumbnail fancybox-els" rel="lightbox"
   caption="<%= image.escape('caption')%>"
   data-id="<%= image.id %>"
   href="<%= image.escape('image_url') %>">
  <img id="fancybox-item" class="img-responsive" alt=""
       src="<%= image.escape('image_url') %>" />
</a>

<div id="image-menus-btn"></div>