<button style="margin-left:30px;"
        class="image-menus btn btn-default">
  <% if (like === undefined) { %>
    <i class="glyphicon glyphicon-heart-empty"></i>
  <% } else { %>
    <i class="glyphicon glyphicon-heart"></i>
  <% } %>
</button>