<form>
  <input type="text"
         class="form-control"
         placeholder="Write a comment..."
         name="comment[content]" />
  <input type="hidden"
         name="comment[image_id]"
         value="<%= image.escape('id') %>" />
</form>