<div class="modal fade" id="search-form-modal"
     tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form>
          <input type="text" class="form-control"
            placeholder="Type in username..."
            name="user[query]" />
        </form>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>