<% if (image !== undefined) { %>
  <h5><a href="#"><%= image.escape('author') %></a></h5>
<% } %>

<form class="pull-right">
  <button class="image-menus btn btn-default">
    <% if (followee === undefined) { %>
      <i class="glyphicon glyphicon-plus-sign"></i>
      &nbsp&nbsp&nbspFollow
    <% } else { %>
      <i class="glyphicon glyphicon-minus-sign"></i>
      Unfollow
    <% } %>
  </button>
</form>