<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a href="http://github.com/weihotline" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon-star"></span> visit us on Github</a>
  </div>
</div>