<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>"><i class="glyphicon glyphicon-home"></i></a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <ul class="nav navbar-nav">
          <li id="header-dropdown" class="dropdown">
            <button type="button" id="search-user"
                    class="user-menus btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            <button type="button" id="upload-image"
                    class="user-menus btn btn-default"
                    >upload</button>
            <button id="refresh-feed"
                    class="user-menus btn btn-default">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
            <button class="user-menus btn btn-default"
                    data-toggle="dropdown">
              <i class="glyphicon glyphicon-th-large"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="<%= edit_user_url(User.generate_session_token) %>">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="/#collections">Collection<span class="glyphicon glyphicon-picture pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a id="sign-out" href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <% if request.original_url.match(/(\/users)/) %>
          <%= link_to (header_button_tag "Log in"), new_session_url %>
        <% else %>
          <%= link_to (header_button_tag "Sign up"), new_user_url %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>

<script>
  $("#sign-out").on("click", JSUtil.logout);
</script>