<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <%= button_to "Sign out", session_url, method: :delete %>
      <% else %>
        <% if request.original_url == new_user_url %>
          <%= link_to (header_button_tag "Log in"), new_session_url %>
        <% else %>
          <%= link_to (header_button_tag "Sign up"), new_user_url %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>

<% if signed_in? %>
  <%= current_user.username %>

        <input type="filepicker" data-fp-mimetype="image/*"
               name="image[url]" data-fp-button-text="Choose Image"
               data-fp-button-class="btn btn-default">

<% end %>

